* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.___navbar {
  background-color: #060808;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.___navbar .___logoheader {
  width: 300px;
  height: 80px;
  margin-right: 500px;
}

.___navbar .___navlist {
  list-style-type: none;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.___navbar .___list-item {
  display: inline-block;
}

.___navbar .___list-item a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
}

.___navbar .___list-item .___hover:hover {
  background-color: yellow;
  border-radius: 20px;
  color: #060808;
}

.___navbar .___list-item .___signhover:hover {
  background-color: yellow;
  color: #060808;
}

.___navbar .___list-item .___signup {
  border: 3px ridge yellow;
  color: yellow;
}

.___mainarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("../images/about_image/about image1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 540px;
  height: 540px;
}

.___mainarea h1 {
  padding: 10px 10px 10px 0;
  color: white;
  text-shadow: 5px 10px 50px blue;
}

.___mainarea .___about-section {
  color: white;
  width: 820px;
  padding: 50px;
}

.___mainarea .___about-section p {
  text-align: left;
  text-shadow: 5px 10px 50px blue;
  font-size: 18px;
}

.___mainarea .___about-section .___lastword {
  color: yellow;
  text-shadow: 5px 10px 50px blue;
}

footer {
  color: white;
  background-color: #060808;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

footer .___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0 0 0;
}

footer .___container .___title {
  color: yellow;
}

footer .___container h2 {
  text-align: center;
}

footer .___container h2 .___logoimage {
  width: 200px;
  height: 70px;
}

footer .___container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .___container ul li {
  list-style: none;
}

footer .___container ul li a {
  text-decoration: none;
  color: white;
}

footer .___container ul li a:hover {
  color: yellow;
  font-weight: bolder;
}

footer .___container .___contact-us {
  text-align: center;
  margin-right: 60px;
}

footer .___container .___contact-us .___icon {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

footer p {
  text-align: center;
  padding-bottom: 30px;
}

footer p a {
  color: yellow;
}

@media screen and (max-width: 1150px) {
  .___navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 160px;
  }
  .___logoheader {
    margin-left: 500px;
  }
}

@media screen and (max-width: 400px) {
  .___navbar .___navlist {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .___mainarea {
    background-size: 100% 800px;
    height: 800px;
  }
  .___mainarea .___about-section {
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .___mainarea {
    background-size: 100% 600px;
    height: 600px;
  }
  .___mainarea .___about-section {
    width: auto;
  }
  .___mainarea .___about-section h1 {
    font-size: 20px;
  }
  .___mainarea .___about-section p {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .___container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .___container .___flex-row, .___container .___contact-us {
    padding: 20px;
  }
  .___container .___contact-us {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=about_us.css.map */