* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.___navbar {
  background-color: #060808;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.___navbar .___logoheader {
  width: 300px;
  height: 80px;
  margin-right: 500px;
}

.___navbar .___navlist {
  list-style-type: none;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.___navbar .___list-item {
  display: inline-block;
}

.___navbar .___list-item a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
}

.___navbar .___list-item .___hover:hover {
  background-color: yellow;
  border-radius: 20px;
  color: #060808;
}

.___navbar .___list-item .___signhover:hover {
  background-color: yellow;
  color: #060808;
}

.___navbar .___list-item .___signup {
  border: 3px ridge yellow;
  color: yellow;
}

.___main-div {
  font-family: "Lato", sans-serif;
}

.___main-div h1 {
  text-align: center;
  margin-top: 40px;
}

.___main-div .___contact-div {
  background-color: #060808;
  color: #060808;
  margin: 40px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.___main-div .___contact-div .___left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.___main-div .___contact-div .___left-section input {
  padding: 5px;
  width: 350px;
  margin: 10px;
}

.___main-div .___contact-div .___left-section textarea {
  resize: none;
  padding: 5px;
  width: 350px;
  margin: 10px;
}

.___main-div .___contact-div .___left-section .___submit-btn {
  width: 200px;
}

.___main-div .___contact-div .___right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
}

.___main-div .___contact-div .___right-section h1 {
  text-align: center;
  color: yellow;
  padding: 20px;
}

.___main-div .___contact-div .___right-section .___getintouch-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  text-align: center;
}

.___main-div .___contact-div .___right-section .___getintouch-div .___address-div, .___main-div .___contact-div .___right-section .___getintouch-div .___phone-div, .___main-div .___contact-div .___right-section .___getintouch-div .___mail-div {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 150px;
}

.___main-div .___contact-div .___right-section .___getintouch-div .___address-div .___address-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___address-div .___phone-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___address-div .___email-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___phone-div .___address-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___phone-div .___phone-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___phone-div .___email-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___mail-div .___address-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___mail-div .___phone-icon, .___main-div .___contact-div .___right-section .___getintouch-div .___mail-div .___email-icon {
  width: 40px;
  height: 40px;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.___main-div .___contact-div .___right-section .___getintouch-div .___address-div p, .___main-div .___contact-div .___right-section .___getintouch-div .___phone-div p, .___main-div .___contact-div .___right-section .___getintouch-div .___mail-div p {
  text-align: center;
  padding: 5px;
}

#___trial-banner {
  background-image: url("../images/black-friday.jpg");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  padding: 100px;
  font-family: "Lato", sans-serif;
}

#___trial-banner .___button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#___trial-banner .___button .___button-trial {
  color: #060808;
  background: yellow;
  width: auto;
  height: 20px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  font-weight: bolder;
  text-decoration: none;
}

#___trial-banner .___button .___button-trial:hover {
  background-color: orange;
  -webkit-transition: 1s;
  transition: 1s;
}

#___trial-banner .___trial-banner-p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: larger;
}

footer {
  color: white;
  background-color: #060808;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

footer .___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0 0 0;
}

footer .___container .___title {
  color: yellow;
}

footer .___container h2 {
  text-align: center;
}

footer .___container h2 .___logoimage {
  width: 200px;
  height: 70px;
}

footer .___container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .___container ul li {
  list-style: none;
}

footer .___container ul li a {
  text-decoration: none;
  color: white;
}

footer .___container ul li a:hover {
  color: yellow;
  font-weight: bolder;
}

footer .___container .___contact-us {
  text-align: center;
  margin-right: 60px;
}

footer .___container .___contact-us .___icon {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

footer p {
  text-align: center;
  padding-bottom: 30px;
}

footer p a {
  color: yellow;
}

@media screen and (max-width: 1150px) {
  .___navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 160px;
  }
  .___logoheader {
    margin-left: 500px;
  }
}

@media screen and (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .___main-div .___contact-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .___main-div .___contact-div .___getintouch-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #___trial-banner p {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .___container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .___container .___flex-row, .___container .___contact-us {
    padding: 20px;
  }
  .___container .___contact-us {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=contact&support.css.map */