* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.___navbar {
  background-color: #060808;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.___navbar .___logoheader {
  width: 300px;
  height: 80px;
  margin-right: 500px;
}

.___navbar .___navlist {
  list-style-type: none;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.___navbar .___list-item {
  display: inline-block;
}

.___navbar .___list-item a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
}

.___navbar .___list-item .___hover:hover {
  background-color: yellow;
  border-radius: 20px;
  color: #060808;
}

.___navbar .___list-item .___signhover:hover {
  background-color: yellow;
  color: #060808;
}

.___navbar .___list-item .___signup {
  border: 3px ridge yellow;
  color: yellow;
}

.___banner {
  background-image: url("../images/cover image fixed 2.png");
  background-repeat: no-repeat;
  background-size: 100% 550px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  padding: 50px;
}

.___banner .___banner-header1 {
  color: white;
  font-size: 80px;
  text-shadow: 15px 10px 30px white;
}

.___banner .___banner-header2 {
  color: yellow;
  font-size: 70px;
  text-shadow: 15px 10px 30px yellow;
}

.___banner p {
  color: white;
  font-size: 25px;
  text-shadow: 15px 10px 20px yellow;
}

.___banner .___banner-button .___banner-button-link {
  color: #060808;
  background: yellow;
  width: 300px;
  height: 20px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  font-weight: bolder;
  margin-top: 20px;
  -webkit-box-shadow: 15px 20px 50px #060808;
          box-shadow: 15px 20px 50px #060808;
  text-decoration: none;
}

.___banner .___banner-button .___banner-button-link:hover {
  background-color: orange;
  -webkit-transition: 1s;
  transition: 1s;
}

.___banner .___no-card-required {
  margin-left: 50px;
}

.___club-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  margin-top: 40px;
  text-shadow: 5px 10px 20px #060808;
}

.___club-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  font-family: "Lato", sans-serif;
}

.___club-container .___coaches, .___club-container .___athletes, .___club-container .___workouts {
  height: 100px;
  width: 200px;
  background-color: #060808;
  color: white;
  -webkit-box-shadow: 5px 10px 20px #060808;
          box-shadow: 5px 10px 20px #060808;
  border: 2px solid white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.___club-container .___coaches p, .___club-container .___athletes p, .___club-container .___workouts p {
  color: grey;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.___main-area-cover-banner {
  font-family: "Lato", sans-serif;
  padding: 70px;
}

.___main-area-cover-banner h1 {
  text-align: center;
  text-shadow: 5px 10px 20px #060808;
  margin-bottom: 40px;
}

.___main-area-cover-banner .___main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.___main-area-cover-banner .___main-area .___team-cover, .___main-area-cover-banner .___main-area .___player-cover, .___main-area-cover-banner .___main-area .___connect-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.___main-area-cover-banner .___main-area .___team-cover .___team-textarea, .___main-area-cover-banner .___main-area .___player-cover .___team-textarea, .___main-area-cover-banner .___main-area .___connect-cover .___team-textarea {
  padding: 45px;
}

.___main-area-cover-banner .___main-area .___team-cover .___team-textarea h2, .___main-area-cover-banner .___main-area .___team-cover .___team-textarea p, .___main-area-cover-banner .___main-area .___player-cover .___team-textarea h2, .___main-area-cover-banner .___main-area .___player-cover .___team-textarea p, .___main-area-cover-banner .___main-area .___connect-cover .___team-textarea h2, .___main-area-cover-banner .___main-area .___connect-cover .___team-textarea p {
  width: 700px;
  font-size: 20px;
}

.___main-area-cover-banner .___main-area .___team-cover img, .___main-area-cover-banner .___main-area .___player-cover img, .___main-area-cover-banner .___main-area .___connect-cover img {
  width: 300px;
  height: 200px;
}

.___main-area-cover-banner .___main-area .___team-cover .___middle-img, .___main-area-cover-banner .___main-area .___player-cover .___middle-img, .___main-area-cover-banner .___main-area .___connect-cover .___middle-img {
  margin-left: 100px;
}

.___shape-container-upper {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}

.___shape-container-upper h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #060808;
  text-shadow: 5px 10px 20px #060808;
  padding: 5px;
}

.___shape-container-upper .___shape-top-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.___shape-container-upper .___btn1 {
  background-color: #060808;
  padding: 15px;
  color: white;
  border: none;
  -webkit-box-shadow: 5px 10px 20px #060808;
          box-shadow: 5px 10px 20px #060808;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.___shape-container-upper .___btn1:hover {
  background-color: rgba(0, 0, 0, 0.76);
}

.___shape-container-upper .___btn2 {
  background-color: yellow;
  padding: 15px;
  color: #060808;
  border: none;
  -webkit-box-shadow: 5px 10px 20px #060808;
          box-shadow: 5px 10px 20px #060808;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.___shape-container-upper .___btn2:hover {
  background-color: rgba(255, 255, 0, 0.561);
}

.___shape-container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../images/shape divider.jpg");
  background-size: 100% 500px;
  height: 500px;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
}

.___shape-container #div102, .___shape-container #div104 {
  display: none;
}

.___shape-container .___right-side-text1, .___shape-container .___left-side-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px;
}

.___shape-container .___right-side-text1 h2, .___shape-container .___left-side-text1 h2 {
  text-align: left;
  width: 400px;
  color: white;
  text-shadow: 10px 20px 50px black;
  font-weight: bolder;
  padding: 5px;
  font-size: 25px;
}

.___shape-container .___right-side-text1 p, .___shape-container .___left-side-text1 p {
  text-align: left;
  width: 400px;
  color: white;
  text-shadow: 5px 10px 20px black;
  font-weight: bolder;
  padding: 5px;
}

.___shape-container .___right-side-text1 img, .___shape-container .___left-side-text1 img {
  width: 30px;
  height: 25px;
  background-color: white;
  padding: 3px;
  border-radius: 20%;
}

.___shape-container .___right-side-text2, .___shape-container .___left-side-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px;
}

.___shape-container .___right-side-text2 h2, .___shape-container .___left-side-text2 h2 {
  text-align: left;
  width: 400px;
  color: white;
  text-shadow: 10px 20px 50px black;
  font-weight: bolder;
  padding: 5px;
  font-size: 25px;
}

.___shape-container .___right-side-text2 p, .___shape-container .___left-side-text2 p {
  text-align: left;
  width: 400px;
  color: white;
  text-shadow: 5px 10px 20px black;
  font-weight: bolder;
  padding: 5px;
}

.___shape-container .___right-side-text2 img, .___shape-container .___left-side-text2 img {
  width: 30px;
  height: 25px;
  background-color: yellow;
  padding: 3px;
  border-radius: 50%;
}

.___shape-container .___shape1 {
  background-color: yellow;
  height: 560px;
  right: -25px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  width: 100px;
  color: #fff000;
  -webkit-box-shadow: 5px 10px 20px black;
          box-shadow: 5px 10px 20px black;
}

.___shape-container .___shape2 {
  background-color: #000;
  height: 560px;
  right: -25px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  width: 100px;
  -webkit-box-shadow: 5px 10px 20px black;
          box-shadow: 5px 10px 20px black;
}

.___review_banner {
  background-image: url("../images/run grayscale.JPG");
  background-repeat: no-repeat;
  background-size: 100% 550px;
  height: 550px;
  font-family: "Lato", sans-serif;
}

.___review_banner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  color: white;
  text-shadow: 5px 10px 20px white;
}

.___review_banner .___user-review-shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.___review_banner .___user-review-shape .___review-shape-left, .___review_banner .___user-review-shape .___review-shape-right {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 0, 0.685);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px;
  font-size: large;
  font-weight: bold;
}

.___review_banner .___user-review-shape .___review-shape-left img, .___review_banner .___user-review-shape .___review-shape-right img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid orange;
}

.___review_banner .___user-review-shape .___review-shape-left h2, .___review_banner .___user-review-shape .___review-shape-left h3, .___review_banner .___user-review-shape .___review-shape-right h2, .___review_banner .___user-review-shape .___review-shape-right h3 {
  color: #060808;
  text-shadow: 2px 5px 20px #060808;
}

.___review_banner .___user-review-shape .___review-shape-left p, .___review_banner .___user-review-shape .___review-shape-right p {
  color: white;
  text-align: center;
  text-shadow: 2px 5px 20px #060808;
}

.___club-logo {
  font-family: "Lato", sans-serif;
}

.___club-logo .___club-logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #060808;
  font-weight: bolder;
  padding: 40px;
  text-shadow: 5px 10px 20px #060808;
}

.___club-logo .___club-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.___club-logo .___club-logo-img img {
  width: 180px;
  height: 180px;
  padding: 20px;
}

#___trial-banner {
  background-image: url("../images/black-friday.jpg");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  padding: 100px;
  font-family: "Lato", sans-serif;
}

#___trial-banner .___button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#___trial-banner .___button .___button-trial {
  color: #060808;
  background: yellow;
  width: auto;
  height: 20px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  font-weight: bolder;
  text-decoration: none;
}

#___trial-banner .___button .___button-trial:hover {
  background-color: orange;
  -webkit-transition: 1s;
  transition: 1s;
}

#___trial-banner .___trial-banner-p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: larger;
}

footer {
  color: white;
  background-color: #060808;
  font-family: "Lato", sans-serif;
}

footer .___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0 0 0;
}

footer .___container .___title {
  color: yellow;
}

footer .___container h2 {
  text-align: center;
}

footer .___container h2 .___logoimage {
  width: 200px;
  height: 70px;
}

footer .___container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .___container ul li {
  list-style: none;
}

footer .___container ul li a {
  text-decoration: none;
  color: white;
}

footer .___container ul li a:hover {
  color: yellow;
  font-weight: bolder;
}

footer .___container .___contact-us {
  text-align: center;
  margin-right: 60px;
}

footer .___container .___contact-us .___icon {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

footer p {
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 1150px) {
  .___navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 160px;
  }
  .___logoheader {
    margin-left: 500px;
  }
}

@media screen and (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .___banner {
    background-size: 100% 700px;
    height: 700px;
  }
}

@media screen and (max-width: 700px) {
  .___club-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .___shape-top-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 150px;
  }
  .___shape-top-button .___btn1 {
    margin-bottom: 10px;
  }
  .___shape-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
  .___shape-container .___left-side-text1, .___shape-container .___left-side-text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: none;
  }
  .___shape-container .___right-side-text1, .___shape-container .___right-side-text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: yellow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: none;
  }
}

@media screen and (max-width: 900px) {
  .___main-area-cover-banner .___main-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .___main-area-cover-banner .___main-area .___team-cover, .___main-area-cover-banner .___main-area .___player-cover, .___main-area-cover-banner .___main-area .___connect-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .___main-area-cover-banner .___main-area .___team-cover .___team-textarea h2, .___main-area-cover-banner .___main-area .___team-cover .___team-textarea p, .___main-area-cover-banner .___main-area .___player-cover .___team-textarea h2, .___main-area-cover-banner .___main-area .___player-cover .___team-textarea p, .___main-area-cover-banner .___main-area .___connect-cover .___team-textarea h2, .___main-area-cover-banner .___main-area .___connect-cover .___team-textarea p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    text-align: center;
  }
  .___main-area-cover-banner .___main-area .___team-cover img, .___main-area-cover-banner .___main-area .___player-cover img, .___main-area-cover-banner .___main-area .___connect-cover img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: 200px;
  }
  .___main-area-cover-banner .___main-area .___team-cover .___middle-img, .___main-area-cover-banner .___main-area .___player-cover .___middle-img, .___main-area-cover-banner .___main-area .___connect-cover .___middle-img {
    margin-left: 0%;
  }
}

@media screen and (max-width: 900px) {
  .___review_banner {
    background-size: 100% 900px;
    height: 900px;
  }
  .___review_banner h1 {
    text-align: center;
  }
  .___review_banner .___user-review-shape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .___review_banner .___user-review-shape .___review-shape-left, .___review_banner .___user-review-shape .___review-shape-right {
    width: 400px;
    height: 300px;
  }
  .___review_banner .___user-review-shape .___review-shape-left {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .___club-logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #___trial-banner p {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .___container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .___container .___flex-row, .___container .___contact-us {
    padding: 20px;
  }
  .___container .___contact-us {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=homepage.css.map */