*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global varibales
$bg-color:#060808;
$font_family:'Lato', sans-serif;
$font_size:20px;
$color:#ffffff;
$yellow:yellow;
$white:white;
$orange:orange;

//  navbar area start 
.___navbar{

    background-color: $bg-color;
    color:$color;
    display: flex;
    justify-content:space-around;
    align-items: center;
   
  

    .___logoheader{

      width: 300px;
      height: 80px;
      margin-right: 500px;
      
    }

    .___navlist{

        list-style-type: none;
        font-size: $font_size;
        font-family:$font_family;
        
    }


    .___list-item{
        display: inline-block;

        a{
            text-decoration: none;
            color: $color;
            padding: 10px;
            font-weight: bold;
        }

        .___hover:hover{

            background-color:$yellow;
            border-radius: 20px;
            color:$bg-color;
        }

        .___signhover:hover{
            background-color:$yellow;
            color: $bg-color;
            
        }

        .___signup{
            border: 3px ridge $yellow;
            color: $yellow;
        }
    }
        
}
//  navbar area end


// price grow area start

.___price-grow-area{

    font-family: $font_family;
    margin: 40px;

    h1{
        font-family: $font_family;
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
    }

    .___first-div{

        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $bg-color;
        color: $white;

        .___left-area{

            .___club-size{

                h2{
                    font-family: $font_family;
                    text-align: center;

                    .___clubsize-dropdown{
                        padding: 5px;
                        font-family: $font_family;
                        font-weight: bold;
                        font-size: $font_size;
                        text-align: center;
                    }
                }

                .___free-package-area{

                    margin-top: 50px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    h3{
                        text-align: center;
                        padding: 10px;
                    }

                    input{
                        padding: 20px;
                        font-size: 50px;
                        font-style: bold;
                        width: 180px;
                        text-align: center;
                    
                    }
                    
                }


                .___price-button{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
        
                    .___price-button-trial{         
                        color: $bg-color;
                        background: $white;
                        width: auto;
                        height: 20px;
                        padding: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2px;
                        font-weight: bolder;
                        text-decoration: none;
                    }
        
                    .___price-button-trial:hover{
        
                    background-color:rgba(255, 255, 255, 0.733);
                    transition: 1s;
        
                    }
        
                }

                p{
                    margin-top: 20px;
                    padding: 5px;
                    text-align: center;
                    width: 500px;
                    
                    p{
                        width: 500px;
                        padding: 5px;
                        text-align: center;
                    }
                }



            }
        }

        

        .___right-side-area{

            .___table-div{

                table{

                    border: none;
                    padding: 10px;
                    width: 600px;
                    border-collapse:separate;
                    border-spacing: 0 15px;
                    

                    tr{


                        th,td{
                            text-align: center;
                            padding: 10px;
                            background-color: $white;
                            color: $bg-color;

                            
                        } 
                        
                        .___td1{
                            text-align: left;
                        }

                    }

                    
                   

                    i{
                        color: $bg-color;
                    }
                }
            }

            p{
                text-align: center;
                padding: 10px;
                margin: 20px;
            }

        }


    }


}


// price grow area end 


// sms pricing section start

.___sms-pricing-area{
    
    font-family: $font_family;

    h1{
        text-align: center;
        padding: 5px;
        margin: 10px;
    }

    .___sms-pricing-div{

        background-color: $bg-color;
        color: $white;
        margin: 40px;
        padding: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .___payment{

            margin-top: 20px;
        }

        p{
            padding: 5px;
        }


    }



}
// sms pricing section end 



// Free trial area start 



    #___trial-banner{

        background-image: url("../images/black-friday.jpg");
        background-repeat: no-repeat;
        background-size:100% 300px;
        padding: 100px;
        font-family: $font_family;

        .___button{

            display: flex;
            justify-content: center;
            align-items: center;

            .___button-trial{         
                color: $bg-color;
                background: $yellow;
                width: auto;
                height: 20px;
                padding: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                font-weight: bolder;
                text-decoration: none;
            }

            .___button-trial:hover{

            background-color:$orange;
            transition: 1s;

            }

        }

        .___trial-banner-p{
        
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            font-size: larger;
    
        }        
    }


// Free trial area end



// footer area start

footer{
    color: $white;
    background-color: $bg-color;
    font-family: $font_family;
    font-size: 15px;

    .___container{
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px 0 0 0;

        // align-items:center;

        .___title{
            color:$yellow;
        }

      

        h2{

            text-align: center;

            .___logoimage{
             
                width: 200px;
                height: 70px;
            }
        }

        p{
            
            display: flex;
            justify-content: center;
            align-items: center;
          
        }



       ul{
           li{
               list-style: none;

               a{
                   text-decoration: none;
                   color: $white;
                   
               }

               a:hover{

                color:$yellow;
                font-weight: bolder;
               }

           }
       }


    .___contact-us{
        text-align: center;
        margin-right: 60px;

        .___icon{
            
            display: inline;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }
    }

    }


    p{
        text-align: center;
        padding-bottom: 30px;
             
    }    
}
// footer area end

// --------------------------------------------
//  media queries for web and mobile screen
// --------------------------------------------


// media query for navbar start

@media screen and (max-width: 1150px) {
    .___navbar{ 
      flex-direction: column;
      justify-content: center;
      height: 160px;
      
    } 

    .___logoheader{
        margin-left: 500px;
    }

  }


  @media screen and (max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media screen and (max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

//   media query for navbar end 

//  media query grow pricing seciton start 

@media screen and (max-width:800px) 
{

    .___price-grow-area{

        display: flex;
        justify-content: center;
        align-items:center ;
        flex-direction: column;
            
        
        .___first-div{

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 400px;
            // margin: 0;
            height: auto;

            .___left-area{

                .___club-size{

                    width: 400px;
                    padding: 20px;

                    display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                    p{
                        width: 300px;
                        text-align: center;
                    }
                }

                

            }


        }

        .___right-side-area{

            display: flex;
            justify-content: center;
            align-items: center;
            // width: 100px;

            .___table-div{

                display: flex;
                justify-content: center;
                align-items: center;

            
                table{

                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-left: 170px;

                    tr{

                        .___td1{

                            width: 10px;
                            
                        }
    
                        
                        
                        th,td{
                            text-align: center;
                            width: 5px;
                          
                            
                        }


                    }

                    
                }

            }

           
        }



    }

    .___sms-pricing-div{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

}
   
    





//  media query grow pricing seciton end 


// free trail section start

@media screen and (max-width:600px){

    #___trial-banner{

        p{
            text-align: center;
        }



        
    }


}

// free trail section end 

//   footer media query start

    @media screen and (max-width:700px){

        .___container{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .___flex-row,.___contact-us{
                padding: 20px;
                
            }

            .___contact-us{
               
                margin-left: 40px;

            }

        }

        

    }


//   footer media query end






  




